<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="shortcut icon" href="../assets/fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./register.css">
</head>

<body>
    <div class="main">
        <img src="../assets/creop.png" alt="logo.png">
        <h1>Sign Up</h1>
        <h3>Sign Up and start your candidates!</h3>
        <form action="/register" method="post">
            <input type="text" placeholder="Name" required>
           
            <input type="email" placeholder="E-mail" required>

            <input type="password" placeholder="Password" required>
           
            <button id="registerbtn" type="submit">Register</button>
           
        </form>

    </div>
</body>

</html>
</body>
</html>